<odoo>
    <!-- Top menu item -->
  <menuitem name="UPOWOOD" id="upo_wood_app.menu_root"/>

  <!-- menu categories -->
  <menuitem name="UPOWOOD" id="upo_wood_app.menu_1" parent="upo_wood_app.menu_root"/>

  <!-- actions -->
  <menuitem name="Productos" id="productos_menu" parent="upo_wood_app.menu_1" action="producto_list_action"/>
  <menuitem name="Ventas" id="ventas_menu" parent="upo_wood_app.menu_1" action="venta_list_action"/>
  <menuitem name="Devoluciones" id="devoluciones_menu" parent="upo_wood_app.menu_1" action="devolucion_list_action"/>
  <menuitem name="Albaranes" id="albaranes_menu" parent="upo_wood_app.menu_1" action="albaran_list_action"/>
  <menuitem name="Personas" id="personas_menu" parent="upo_wood_app.menu_1" action="persona_list_action"/>
  <menuitem name="Facturas" id="facturas_menu" parent="upo_wood_app.menu_1" action="factura_list_action"/>
  <menuitem name="Categorias" id="categorias_menu" parent="upo_wood_app.menu_1" action="categoria_list_action"/>
  <menuitem name="Materiales" id="materiales_menu" parent="upo_wood_app.menu_1" action="material_list_action"/>
  <menuitem name="Proveedores" id="proveedores_menu" parent="upo_wood_app.menu_1" action="proveedor_list_action"/>
  <menuitem name="Envios" id="envios_menu" parent="upo_wood_app.menu_1" action="envio_list_action"/>
</odoo>
